.AppHeader {
  display: flex;


  &-Item {
    margin-right: rem(30);

    &:last-child {
      margin-right: 0;
    }

    &--logotype {
      margin-right: rem(20);
    }

    &--shiftedRight {
      margin-left: auto;
    }
  }
}
