.AppHeader {
  display: flex;


  &-Item {
    display: flex;
    margin-left: rem(30);

    &:first-child {
      margin-left: 0;
    }

    &--textLogotype {
      margin-left: rem(20);
    }

    &--shiftingRight {
      margin-right: auto;
    }

    &--hiddenOnLaptopDown {
      @include breakpoint-down(rem($breakpoint-laptop)) {
        display: none;
      }
    }
  }
}
