.Notification {
  overflow: hidden;

  padding-right: rem(5);
  padding-left: rem(5);

  border-radius: rem($borderRadius-medium);
  background-color: $color-background--dark;

  white-space: nowrap;
  text-overflow: ellipsis;

  font-size: rem(12);
  line-height: rem(20);
}
