.Loader {
  animation: rotationAnimation $transition-duration--fast steps(8, end) infinite;


  &--color {

    &_blue {
      fill: $color-loader--blue;
    }

    &_light {
      fill: $color-loader--light;
    }
  }
}


@keyframes rotationAnimation {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
