{
  "extends": ["airbnb", "airbnb/hooks"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "IS_DEVELOPMENT": true
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {}
    }
  },
  "rules": {
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "react/jsx-props-no-spreading": "off",
    "no-multiple-empty-lines": ["error", { "max": 2, "maxEOF": 0, "maxBOF": 0 }]
  }
}
