.RequestChip {
  overflow: hidden;

  height: rem(30);

  border-radius: rem(5);
  box-shadow: 0 rem(1) rem(2) 0 $color-translucentDark--10;


  &:hover {
    box-shadow: 0 rem(1) rem(4) 0 $color-translucentDark--25;
  }


  &-Button {
    height: 100%;
    padding: 0 rem(10);

    cursor: pointer;

    border: none;
    background-color: $color-background--light;


    &:focus {
      outline: none;
    }
  }


  &-ButtonInner {
    display: flex;
    align-items: center;
  }


  &-StatusIndicator {
    position: relative;

    display: block;

    width: rem(10);
    height: rem(10);
    margin-right: rem(5);

    border-radius: 50%;
    background-color: $color-status--unknown;


    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;

      content: '';

      border: rem(1) solid $color-border;
      border-radius: 50%;
    }


    &--type {

      &_success {
        background-color: $color-status--success;
      }

      &_error {
        background-color: $color-status--error;
      }
    }
  }
}
