.Button {
  position: relative;

  overflow: hidden;

  min-width: rem(110);
  height: rem(40);
  padding: 0 rem(10);

  transition: $transition-animation--outlineShadow;

  color: $color-button--text;
  border: none; // Reset button style
  border-radius: rem($borderRadius-medium);
  background: linear-gradient(0deg, $color-button--main, $color-button--light);

  font-weight: 500;


  // Overlight
  &::after {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    content: '';

    transition: background-color $transition-duration--fastest $transition-timingFunction--standard;

    background-color: transparent;
  }


  @include focus-visible() {
    outline: none;
    box-shadow: $shadow-outline--blue;
  }


  &:hover:not(:disabled) {

    &::after {
      background: $color-translucentLight--15;
    }
  }

  &:active:not(:disabled) {

    &::after {
      transition: none;
      background: $color-translucentDark--15;
    }
  }


  &--disabled {
    background: none;

    &::after {
      background: $color-button--disabled;
    }
  }


  &-Inner {
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
