.Transition {

  &-Slip {

    &--enter {
      transform: translate3d(0, -150%, 0);
      opacity: 0;
    }

    &--enterActive {
      transition:
        opacity $transition-duration--fast $transition-timingFunction--deceleration,
        transform $transition-duration--fast $transition-timingFunction--deceleration;

      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    // &--enterDone {}
    &--exit {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }

    &--exitActive {
      transition:
        opacity $transition-duration--fast $transition-timingFunction--deceleration,
        transform $transition-duration--fast $transition-timingFunction--deceleration;

      transform: translate3d(0, -150%, 0);
      opacity: 0;
    }

    // &--exitDone {}
  }
}
