.Transition {

  &-Slip {

    &--enter {
      transform: translateY(-150%);
      opacity: 0;
      will-change: transform, opacity;
    }

    &--enterActive {
      transition:
        opacity $transition-duration--fast $transition-timingFunction--deceleration,
        transform $transition-duration--fast $transition-timingFunction--deceleration;

      transform: translateY(0);
      opacity: 1;
    }

    // &--enterDone {

    // }


    &--exit {
      transform: translateY(0);
      opacity: 1;
      will-change: transform, opacity;
    }

    &--exitActive {
      transition:
        opacity $transition-duration--fast $transition-timingFunction--deceleration,
        transform $transition-duration--fast $transition-timingFunction--deceleration;

      transform: translateY(-150%);
      opacity: 0;
    }

    // &--exitDone {

    // }
  }
}
