.UserChip {
  display: flex;
  align-items: center;

  height: rem(30);
  padding: 0 rem(15);

  border: rem(1) solid $color-border;
  border-radius: rem($borderRadius-medium);


  &-Item {

    &:not(:first-child) {
      margin-left: rem(5);

      &::before {
        margin-right: rem(5);
        content: ':';
        color: $color-border;
      }
    }
  }
}
