.DragLever {
  min-width: rem(8);
  min-height: rem(24);
  padding: 0;

  cursor: col-resize;

  fill: $color-border;
  border: none;
  background: none;


  &:hover,
  &--active {
    fill: $color-border--dark;
  }

  @include focus-visible() {
    fill: $color-focus;
    outline: none;
  }


  &-Inner {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    max-width: 100%;
    max-height: 100%;
  }


  &-Icon {
    flex-shrink: 0;
  }
}
