.TextInput {
  padding: rem(4) rem(9);

  transition:
    $transition-animation--outlineShadow,
    border-color $transition-duration--fastest $transition-timingFunction--sharp;

  border-width: rem(1);
  border-style: solid;
  border-color: $color-border;
  border-radius: rem($borderRadius-medium);

  font-size: rem(18);
  line-height: rem(30);

  -webkit-appearance: none; // iOS shadow fix


  // Chrome autofill bug-fix
  &:-webkit-autofill::first-line {
    font-family: $fontFamily;
    font-size: rem(18);
    line-height: rem(30);
  }


  &:hover {
    border-color: $color-border--dark;
  }


  &:focus {
    border-color: $color-border--dark;
    outline: none;
    box-shadow: $shadow-outline--dark;
  }


  &--area {
    padding: rem(9);

    resize: none;

    font-size: rem(14);
    line-height: rem(18);
  }


  &--error {
    border-color: $color-border--error;
    box-shadow: $shadow-error;
  }


  &--monospace {
    font-family: monospace;
  }
}
