.AppFooter {
  display: flex;


  &-Item {
    display: flex;
    flex: 1 1 100%; // To position copyright in center


    &--aligned {

      &_left {
        justify-content: flex-start;
      }

      &_center {
        justify-content: center;
        margin-right: rem(30);
        margin-left: rem(30);
      }

      &_right {
        justify-content: flex-end;
      }
    }
  }
}
