$minFieldWidth: 240 + $outerSize;
$fieldsDistance: 10;
$minNoScrollWidth: (2 * $minFieldWidth ) + $fieldsDistance;


:export {
  $minFieldWidth: $minFieldWidth;
}


.InputOutput {
  display: flex;
  overflow: auto;

  padding-top: rem(10);
  padding-bottom: rem(15);


  &-Field {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: rem($minFieldWidth);
    height: 100%;
    min-height: rem(520);


    &--type {

      &_input {
        order: 1;
        padding-left: rem($outerSize);
        margin-right: rem($fieldsDistance / 2);

        @include breakpoint-up($minNoScrollWidth) {
          margin-right: 0;
        }
      }

      &_output {
        order: 3;
        padding-right: rem($outerSize);
        margin-left: rem($fieldsDistance / 2);

        @include breakpoint-up($minNoScrollWidth) {
          margin-left: 0;
        }
      }
    }
  }


  &-Input {
    flex-grow: 1;
  }


  &-DragLever {
    order: 2;
    display: none;
    flex: 0 0 rem($fieldsDistance);

    @include breakpoint-up($minNoScrollWidth) {
      display: block;
    }
  }
}
