.TextLogotype {
  margin-top: 0; // Reset H1 style
  margin-bottom: 0; // Reset H1 style

  white-space: nowrap;
  letter-spacing: rem(1);

  font-size: rem(24);
  font-weight: 400; // Reset H1 style
  line-height: rem(30);


  &--shrinked {
    letter-spacing: rem(0.7);
    font-size: rem(20);
  }
}
