.Copyright {
  color: $color-text--gray;
  text-decoration: none;


  &:hover {
    @extend %hoverAndFocus;
  }

  @include focus-visible() {
    @extend %hoverAndFocus;
  }
}


@keyframes rainbowAnimation {

  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 100% 0;
  }
}


%hoverAndFocus {
  animation: rainbowAnimation $transition-duration--slow $transition-timingFunction--sharp infinite;

  color: transparent;
  outline: none;
  background:
    linear-gradient(
      90deg,
      #0055fb,
      #007efb,
      #0afb52,
      #fafa0f,
      #ffb114,
      #fa3a0f,
      #a700fb,
      #0055fb,
    );
  background-clip: text;
  background-size: 1000% 100%;
}
