.IconButton {
  @mixin makeColor($color) {
    color: $color;
    fill: $color;
  }


  @include makeColor($color-text);

  position: relative;

  height: unset;
  padding: 0; // Reset button style

  transition:
    color $transition-duration--fastest $transition-timingFunction--sharp,
    fill $transition-duration--fastest $transition-timingFunction--sharp;

  border: none; // Reset button style
  background: none; // Reset button style


  // Outline
  &::after {
    position: absolute;
    top: rem(-3);
    right: rem(-3);
    bottom: rem(-3);
    left: rem(-3);

    display: block;

    content: '';

    transition: $transition-animation--outlineShadow;

    border-radius: rem($borderRadius-medium);
    box-shadow: none;
  }


  @include focus-visible() {
    @include makeColor($color-button--main);
    outline: none;

    &::after {
      box-shadow: $shadow-outline--blue;
    }
  }

  &:hover:not(:disabled) {
    @include makeColor($color-button--main);
  }

  &:active:not(:disabled) {
    @include makeColor($color-button--light);
    transition: none;
  }


  &--disabled {
    @include makeColor($color-button--disabled);
  }


  &-Inner {
    display: flex;
    align-items: center;

    &--invertedDirection {
      flex-direction: row-reverse;
    }
  }


  &-Label {

    &--hidden {
      @include hide();
    }


    &--margin {

      &_left {
        margin-left: rem(8);
      }

      &_right {
        margin-right: rem(8);
      }
    }
  }
}
