.IconButton {
  @mixin makeColor($color) {
    color: $color;
    fill: $color;
  }


  @include makeColor($color-text);

  position: relative;

  height: unset;
  padding: 0; // Reset button style

  cursor: pointer;

  border: none; // Reset button style
  background: none; // Reset button style


  &::after {
    position: absolute;
    top: rem(-3);
    right: rem(-3);
    bottom: rem(-3);
    left: rem(-3);

    display: block;

    content: '';
    pointer-events: none;

    opacity: 0;
    border-radius: rem(5);
    box-shadow: $shadow-outline--blue;
  }


  &:focus {
    @include makeColor($color-button--main);
    outline: none;

    &::after {
      opacity: 1;
    }
  }

  &:hover {
    @include makeColor($color-button--main);
  }

  &:active {
    @include makeColor($color-button--light);
  }

  &:disabled {
    @include makeColor($color-button--disabled);
    cursor: default;
  }


  &-Inner {
    display: flex;
    align-items: center;

    &--invertedDirection {
      flex-direction: row-reverse;
    }
  }


  &-Label {
    margin-left: rem(8);

    &--hidden {
      @include hide();
    }

    &--withRightMargin {
      margin-right: rem(8);
      margin-left: 0;
    }
  }
}
